/* Universal Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", "Verdana", "Tahoma", "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header Style */

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 144px;
}

.header,
.footer {
  background-color: #1F2937;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 100px;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.header-content-text {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

.header h2 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.header p {
  font-size: 18px;
  color: #E5E7EB;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

button {
  color: #F9FAF8;
  background-color: #3882F6;
  font-size: 18px;
  border: 0;
  padding: 6px 32px;
  border-radius: 8px;
}

.header-content-image {
  height: 230px;
  width: 575px;
  color: #E5E7EB;
  background-color: #6D747D;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* First Section Style */

.section-one {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 142px;
  gap: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 175px;
  gap: 5px;
}

.section-one h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.box {
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 16px;
  flex-shrink: 1;
}

.card p {
  font-size: 18px;
  color: #808080;
  text-align: center;
}

/* Second Section Style */

.section-two {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 142px;
  padding-bottom: 117px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1F2937;
  max-width: 775px;
}

.author {
  font-size: 24px;
  font-weight: 700;
  color: #1F2937;
  padding-left: 480px;
}

/* Third Section Style */

.section-three {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.invite {
  background-color: #3882F6;
}

.section-three h2 {
  font-size: 24px;
  font-weight: 700;
}

.section-three p {
  font-size: 18px;
  font-weight: 300;
}

.section-three button {
  border: 2px solid #FFFFFF;
  font-size: 21px;
  font-weight: 700;
}